{% extends 'main.html' %}
{% block title %} BLUE CRM {% endblock %}
{% block site %}
{% load bootstrap %}

<div class="alert alert-primary" role="alert">
        <div style="overflow: hidden;">
        <div style="float: left;">
            <div class="inline-block-element">
    <h5> BLUE CRM | </h5>
            </div>
            <div class="inline-block-element">
            <a href="{% url 'contacts' %}" class="btn btn-outline-primary">Contacts</a>
            <a href="{% url 'customers' %}" class="btn btn-outline-primary">Customers</a>
            <a href="{% url 'meeting' %}" class="btn btn-outline-primary">Meetings</a>
            <a href="{% url 'deals' %}" class="btn btn-outline-primary">Deals</a>
            <a href="{% url 'mail_sender' %}" class="btn btn-outline-primary">Send mail</a>
            </div>
        </div>
        <div style="overflow: hidden;">
    <div style="float: right;">
{% if user.is_authenticated %}
    <a href="{% url 'out' %}" class="btn btn-outline-primary"> Log out</a>
    <a href="{% url 'sign_up' %}" class="btn btn-outline-primary"> Sign up</a>

{% else %}
    <a href="{% url 'login' %}" class="btn btn-outline-primary"> Log in</a>
    <a href="{% url 'sign_up' %}" class="btn btn-outline-primary"> Sign up</a>
{% endif %}
        </div>
</div>
</div>
</div>


{% if messages %}
<div class="py-6 px-6 d-flex justify-content-center">
    <div>
        {% for message in messages %}
            <div class="text-bg-warning p-3">{{ message }}</div>
        {% endfor %}
    </div>
</div>
{% endif %}
<br>

{% for task in task_state %}
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title"> {{ task.choose }}</h5>
        <p class="card-text"><p>{{ task.note }}</p>
        <a href="{% url 'update_task' task.id %}" class="btn btn-outline-primary">Update</a>
      </div>
    </div>
  </div>
    {% endfor %}
    {% for task in task_motorcycle %}
  <div class="col-sm-6">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ task.choose }}</h5>
        <p class="card-text">{{ task.note }}</p>
        <a href="{% url 'update_task' task.id %}" class="btn btn-outline-primary">Update</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
 {% endblock %}